.c-visual{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    @include media_PC{
        background-position: center;
    }
    &--front{
        background-image: url(../../../img/3ba5a44414bb3c0885c27ff614596431.jpg);
    }
    &--archive{
        background-image: url(../../../img/maskgroup.jpg);
        min-width: 2000px;
        background-size: cover;
        background-position: -300px center;
        @include media_PC_wide{
            min-width: none;
            width: 100%;
        }
    }
    &--single{
        background-image: url(../../../img/single_visual.jpg);
        background-position: center;
        background-size:auto;        
        @include media_PC{
            background-size: 1920px auto;
        }
        @include media_PC_wide{
            background-size: 100%;
        }
    }
    &--page{
        background-image: url(../../../img/page_visual.jpg);
    }
    &__title{
        $fontSize:4rem;
        color:white;    
        font-size: $fontSize;
        position: absolute;
        top:calc(50% - #{$fontSize});
        left: 6vw;
        line-height: $fontSize;
        br{
            @include media_PC{
                display: none;
            }
        }
    }
    &__text{
        font-size: 1.6rem;
    }
    &__layer{
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top:0;
        left: 0;
 
    }

}

