.p-header{
    background-color: $beige;
    color: $darkgray;
    &__nav-btn{
        display: block;
        margin: auto 16px 16px auto;
        padding-top: 14px;
        font-size: 2rem;
        font-weight: 600;
        @include media_PC_wide{
            display: none;
        }
    }
}

.p-header-top{
    &__title{
        font-size: 5.3rem;   
    }
    &__search{
        margin: 40px 0px;
        position: relative;
        
        input[type="search"]{
            background-color: white;
            font-size: 1.5rem;
            height: 46px;
            width: 230px;
            border-radius: 10px;
            border:solid 1.5px $darkgray;
            padding-left: 40px;
            @include media_PC{
                width: 396px;
            }
        }
        .fa-search{
            position: absolute;
            top: 14px;
            left: 10px;
            font-size: 2rem;
            z-index: 0;
        }
        input[type="submit"]{
            padding:8px 23px;
            font-size: 1.8rem;
            font-weight: 600;
            border:solid 1.5px $darkgray;
            border-radius: 10px;
            background: linear-gradient($beige,#DED8D3);
            @include media_PC{
                width: 136px;
                margin-left: 14px;
            }
        }
    }

}
