.p-nav{
    background-color: $beige;
    color:$darkgray;
    padding-left: 46px;
    &__btn{
        font-size: 4rem;
        padding-top:25px;
        padding-left:calc(100% - 46px - 7px);
        @include media_PC_wide{
            display: none;
        }
    }
    &__title{
        display: none;
        @include media_PC_wide{
            display: block;
            font-size: 4rem;
            margin: 85px 0;
        }
    }
    &__background{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        content: "";
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 1;      
    }
}
