.p-pagenation{
    display: flex;
    justify-content:space-between;
    color:$darkgray;
    margin: 0 5% 30px;
    @include media_PC{
        justify-content: center;
        align-items: center;
    }
    @include media_PC_wide{
        margin-bottom: 62px;
    }

    li,span,a{
        font-size: 1.6rem;
        @include media_PC{
            font-weight: 600;
        }
    }
    .pages{
        display: none;
        @include media_PC{
            display: block;
        }
    }
    .previouspostslink ,.nextpostslink{
        display: block;
        margin: 0 10px;
        display: flex;
        span{
            margin: 8px;
            @include media_PC{
                display: none;
            }    
        }
        i{
            padding:5px 0;
            font-size: 3rem;
        }
    }
    .page{
        display: none;
        @include media_PC{
        display: block;
        padding: 7px 13px;
        border: solid 1.5px $darkgray;
        margin: 0 7.5px;
        }
    }
    .current{
        display: none;
        @include media_PC{
        display: block;
        padding: 7px 13px;
        border: solid 1.5px $darkgray;
        margin: 0 7.5px;
        background-color: $blown;
        color: white;
        }
    }
}
.p-pagenation-list{
    display: none;
    @include media_PC{
        display: flex;
    }
    &__item{
        display: block;
        padding: 7px 13px;
        border: solid 1.5px $darkgray;
        margin: 0 7.5px;
        &--current{
            background-color: $blown;
            color: white;
        }
    }
}