
@mixin media_PC_wide($width-media:1920px){
    @media only screen and
      (min-width:$width-media){
      @content;
    }
  }


@mixin media_PC($width-media:834px){
    @media only screen and
      (min-width:$width-media){
      @content;
    }
  }

$beige:#F2EDE9;
$darkgray:#707070;
$blown:#3C2A10;
$lightgray:#F5F5F5;
$blue:#4A6C9B;

$textSize:1.6rem;

@mixin blockMargin {
  margin: 30px 0;
  @include media_PC{
    margin: 60px 0;
  }  
}

body{
  overflow-x: hidden;
}

*{
    font-size: 62.5%;
    font-family:'Roboto','M PLUS 1p',  sans-serif;
}
::-webkit-search-cancel-button {
  -webkit-appearance: none;    /* デフォルトのサーチキャンセルボタンを非表示にする場合 */
}
li{
  list-style: none;
}
a{
  color : inherit;
  text-decoration : none;
}
cite{
  height: auto;
  font-style: normal;
}
code{
  padding-left: 0;
}
